<div *ngIf="showLoadingIndicator" class="loading">Loadinghhhhh</div>
<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-md-12  login-form-2">
      <h3>Creer un nouveau Compte </h3>
      <div  [ngClass]="{'alert alert-success' : error.serverSuccess}">
        <p class="text-center " *ngIf="error.serverSuccess"> {{ error.serverSuccess }} </p>
      </div>
      <div [ngClass]="{'alert alert-danger' : error.serverError}">
        <p class="text-center" *ngIf="error.serverError"> {{ error.serverError }} </p>
      </div>
      <div class="alert alert-danger" *ngIf="mode==2">
        <p class="text-center"> Server Problem </p>
      </div>
      <div class="form">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="service-select">Select Service</label>
              <select class="form-control" id="service-select" [(ngModel)]="user.roles.service">
                <option selected="selected" disabled>Service</option>
                <option *ngFor="let service of services" [ngValue]="service">{{service.name}}</option>
              </select>
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.service">
                <p class="text-danger mb-0">{{error.service}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="niveau-select">Select Niveau</label>
              <select class="form-control" id="niveau-select" [(ngModel)]="user.roles.niveau">
                <option selected="selected" disabled>Niveau</option>
                <option *ngFor="let niveau of niveaux" [ngValue]="niveau">{{niveau.name}}</option>
              </select>
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.niveau">
                <p class="text-danger mb-0">{{error.niveau}}</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="cinUser">CIN</label>
              <input type="text" class="form-control" id="cinUser" [ngClass]="{'shadow-none border-danger' : error.cin}"
                     placeholder="CIN" [(ngModel)]="user.cin" required="required">
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.cin">
                <p class="text-danger mb-0">{{error.cin}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nomUser">Nom complet </label>
              <input type="text" class="form-control" id="nomUser" [ngClass]="{'shadow-none border-danger' : error.nom}"
                     placeholder="Nom Complet" [(ngModel)]="user.fullName" required="required">
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.nom">
                <p class="text-danger mb-0">{{error.nom}}</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="emailUser">Email</label>
              <input type="email" class="form-control" [(ngModel)]="user.email"
                     [ngClass]="{'shadow-none border-danger' : error.email}" id="emailUser" placeholder="Email "
                     aria-required="true">
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.email">
                <p class="text-danger mb-0">{{error.email}}</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="emailUser">Tel</label>
              <input type="text" class="form-control" [(ngModel)]="user.tel"
                     [ngClass]="{'shadow-none border-danger' : error.tel}" id="telUser" placeholder="Tel "
                     aria-required="true">
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.tel">
                <p class="text-danger mb-0">{{error.tel}}</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="imageuser">Sélectionner votre image ( Moins de 300 Ko)</label>
              <input type="file" class="form-control-file" id="imageuser" (change)="onSelectedUserImage($event)">
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.imageUser">
                <p class="text-danger mb-0">{{error.imageUser}}</p>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label for="imageCin">Sélectionner votre carte national recto verso ( Moins de 300 Ko) </label>
              <input type="file" class="form-control-file" id="imageCin" (change)="onSelectedUserCin($event)" multiple>
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.imageCin">
                <p class="text-danger mb-0">{{error.imageCin}}</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="niveauScolaireUser">Niveau scolaire</label>
              <input type="text" class="form-control" [(ngModel)]="user.niveauScolaire"
                     [ngClass]="{'shadow-none border-danger' : error.niveauScolaire}" id="niveauScolaireUser"
                     placeholder="Niveau scolaire "
                     aria-required="true">
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.niveauScolaire">
                <p class="text-danger mb-0">{{error.niveauScolaire}}</p>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label for="imageDiplomes">Sélectionner votre Diplomes ( Moins de 300 Ko)</label>
              <input type="file" class="form-control-file" id="imageDiplomes" (change)="onSelectedUserDiplomes($event)"
                     multiple>
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.imaeDplomes">
                <p class="text-danger mb-0">{{error.imaeDplomes}}</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="pwdUser">Mot de pass</label>
              <input type="password" class="form-control" [(ngModel)]="user.password"
                     [ngClass]="{'shadow-none border-danger' : error.password}" id="pwdUser" placeholder="Mot de pass "
                     aria-required="true">
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.password">
                <p class="text-danger mb-0">{{error.password}}</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="confirmpwd">Confirmer Mot de pass</label>
              <input type="password" class="form-control" [(ngModel)]="Confirmpassword"
                     id="confirmpwd" placeholder="Confirmer Mot de pass "
                     aria-required="true">
              <div class="alert alert-danger pt-0 pb-0" *ngIf="error.confirmpwd">
                <p class="text-danger mb-0">{{error.confirmpwd}}</p>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group text-center">
          <input type="button" class="btn w-75 submitbtn " (click)="onRegister()" value="Register"/>
        </div>
        <div class="form-group text-center">

          <input type="submit" class="btn w-75 registerbtn" routerLink="/login" value="Login"/>
        </div>
      </div>
    </div>
  </div>
</div>

<h1></h1>

